@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
$family-sans-serif: "Roboto", sans-serif;

// Set your brand colors
$orange: #FF9800;
$primary: $orange;

$widescreen-enabled: false;
$fullhd-enabled: false;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$box-shadow: 0 0 20px 5px #CCCCCC;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";

@media screen and (min-width: 1088px) {
    .container {
        max-width: 1020px;
        width: 1020px;
    }
}

.navbar {
    box-shadow: 0 2px 5px #EEEEEE;
}

.navbar-item {
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

// Home
.education {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) 0% 0% / cover, url("img/education.jpg") no-repeat center / cover;
}
.health {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) 0% 0% / cover, url("img/health.jpg") no-repeat center / cover;
}
.community {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) 0% 0% / cover, url("img/community.jpg") no-repeat center / cover;
}
.multifaith {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) 0% 0% / cover /* , url("img/multifaith.jpg") no-repeat center / cover */;
}

// About
.box.about {
    box-shadow: 0 0 20px 5px #EEEEEE;
}

.footer {
    margin-top: 10px;
}

.footer-para {
    padding: 6px 0;
}
